.container-list-user-vue{
    margin: 0 auto;
    padding: 30px;
    width: 1180px;
    display: block;
}

.container-list-user-vue .container-user-vue{
    list-style: none;
    margin: 20px 0;
    padding: 0;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    box-sizing: border-box;
    align-content: space-between
}

.container-list-user-vue .container-user-vue li{
    background: #eee;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.container-list-user-vue .container-user-vue .img-avatar{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: block;
}

.container-list-user-vue .container-user-vue .img-avatar img{
    width: 100%;
    border-radius: 100%;
}

.container-list-user-vue .container-user-vue .tit-user{
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 20px 15px;
    box-sizing: border-box;
}

.container-list-user-vue .logo-js{
    width: 100%;
    display: block;
    text-align: center;
}

.container-list-user-vue .logo-js img{
    width: auto;
    height: 60px;
}

.btn-vue{
    width: 200px;
    padding: 15px;
    display: block;
    margin: 20px auto;
    text-align: center;
    background: #04AC8F;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;  
}